@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blaka+Ink&display=swap");

:root {
    --fav-red: #df4759;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 100vh;
    background: rgba(255, 248, 222, 0.7);
    transition: background 0.3s linear;
}

#up {
    position: fixed;
    right: 0.5em;
    bottom: 0.5em;
    z-index: 999;
    color: #df4759;
}

body.dark-mode {
    background: #292c35;
    color: rgb(255, 255, 255) !important;
}

body.dark-mode p {
    opacity: 1;
    color: #fff;
    font-weight: 400;
}

.dark-mode label {
    position: fixed;
    left: 13.2rem;
    top: 1.15rem;
    z-index: 999;
    background: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.dark-mode .fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.ball {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.3s linear;
}

.checkbox:checked + label .ball {
    transform: translateX(24px);
}

.checkbox {
    left: 1rem;
    top: 2.5rem;
    margin: 0 1rem;
    opacity: 0;
}

.logo {
    /*font-family: 'Major Mono Display', monospace;
    font-family: 'Syne Mono', monospace;*/
    font-family: "Blaka Ink", cursive;
    cursor: pointer;
    font-weight: 700;
    font-size: 2.3rem;
    background-image: linear-gradient(-100deg,  #FF0018,#FFA52C, #FFFF41, #008018, #0000F9,#86007D);
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    animation: textclip 10s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

a {
    text-decoration: none;
}

nav a:hover {
    color: rgb(0, 137, 11) !important;
}

.btn:focus {
    outline: none !important;
    box-shadow: none;
}

.contact:hover {
    color: rgb(0, 0, 0) !important;
}

.hero-section {
    background: url("nrg-landing.jpg") no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container,
.about-container,
.marketing-container,
.webdevelopment-container {
    border-radius: 15px;
    font-weight: 500;
}

.hero-container p {
    font-weight: 700;
    font-style: italic;
    color: #000;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;

    /* background: url("marketing.jpg") no-repeat center fixed;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;*/
}

.marketing-section {
    background: url("marketing.jpg") no-repeat center fixed;
    background-size: cover;

    /*background: url("marketing2.jpg") no-repeat center ;
    background-size: cover;*/
}

/*.webdevelopment-section {
    
    /* background: url("web.jpg") no-repeat center fixed;
    background-size: cover;

}*/

.card {
    background-color: rgba(255, 255, 255, 0.8);
}

.pricing-header {
    max-width: 700px;
}

.contact-container {
    background-image: url("web.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container form {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    height: 500px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.contact-container h2 {
    font-weight: normal;
    color: #fff;
}

.contact-container select,
input,
button {
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 15px;
    outline: none;
}

.contact-container input {
    border: 1px solid #c2c2c2;
}

.contact-container button {
    background-color: #337ef5;
    color: #fff;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
